version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    volumes:
      - ./backend:/app  # Live sync for development
    ports:
      - "8000:8000"
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db   # wait for Postgres before starting

  frontend:
    build:
      context: ./frontend/sales-assistant
      dockerfile: Dockerfile
    container_name: frontend
    volumes:
      - ./frontend/sales-assistant:/app # Live sync for development
      - /app/node_modules  
    ports:
      - "3000:3000"
    command: npm run dev

  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
