fastapi
uvicorn[standard]
pydantic>=2.0.0
python-dotenv
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]
passlib
jwt
python-jose[cryptography]
pydantic-settings>=2.0.0

# Milvus client
pymilvus==2.4.0
marshmallow>=3.13.0,<4.0.0

# Embeddings / ML
sentence-transformers
transformers

# Web crawling
crawl4ai
playwright
